@font-face {
  font-family: "Silkscreen";
  src:
    url('../fonts/silkscreen.woff') format('woff'),
    url('../fonts/silkscreen.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #151515;
}

.wrapper {
  position: absolute;
  height: 400px;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -200px;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@-webkit-keyframes blink {
  0%   { opacity: 1; }
  80%  { opacity: 1; }
  81%  { opacity: 0; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0%   { opacity: 1; }
  80%  { opacity: 1; }
  81%  { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes blink {
  0%   { opacity: 1; }
  80%  { opacity: 1; }
  81%  { opacity: 0; }
  100% { opacity: 0; }
}


/* Title -------------------------------------------------------------------- */

.title {
  margin-bottom: 30px;
  color: #AC4142;
  text-align: center;
  letter-spacing: -8px;
  font-size: 80px;
  font-family: Silkscreen;
}

.instructions {
  position: absolute;
  left: 50%;
  display: inline-block;
  visibility: visible;
  margin-left: -200px;
  margin-bottom: 30px;
  width: 400px;
  color: #F5F5F5;
  text-align: center;
  letter-spacing: -4px;
  font-size: 25px;
  font-family: Silkscreen;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

.instructions-js {
  color: #F4BF75;
}


/* Keys --------------------------------------------------------------------- */

.code-sequence {
  position: absolute;
  left: 50%;
  margin-left: -393px;
  margin-top: 90px;
}

.key {
  display: inline-block;
  margin-left: 5px;
  width: 70px;
  height: 70px;
}

.key-arrow {
  background-image: url(/images/key-arrow.png);
}

.key-up {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.key-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.key-left {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.key-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.key-a {
  background-image: url(/images/key-a.png);
}

.key-b {
  background-image: url(/images/key-b.png);
}


/* Toasty ------------------------------------------------------------------- */

.toasty {
  display: block;
  position: fixed;
  right: -96px;
  bottom: -94px;
  transition: all 0.3s ease-in-out;
}

.is-visible {
  right: 0;
  bottom: 0;
}
